<form method="POST" action="/order/createOrder/0/1" role="form">
    <div class="form-group">
        <label for="locationId">Choose location:</label>
        <select id="locationId" class="form-control" name="locationId">
            <?php foreach($locations as $location):?>
            <option value="<?php echo $location->id?>"><?php echo $location->name; ?> (<?php echo $location->postalCode?>)</option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <label for="customerPurchaseOrder">Customer PO#:</label>
        <input type="text" class="form-control" id="customerPurchaseOrder" name="customerPurchaseOrder"/>
    </div>
    <div class="form-group">
        <label for="repairNumber">Repair#:</label>
        <input type="text" class="form-control" id="repairNumber" name="repairNumber"/>
    </div>
    <div class="form-group">
        <label for="salesOrderNumber">Sales Order#:</label>
        <input type="text" class="form-control" id="salesOrderNumber" name="salesOrderNumber"/>
    </div>
    <div class="form-group">
        <label for="contact">Contact:</label>
        <input type="text" class="form-control" id="contact" name="contact"/>
    </div>
    <div class="form-group">
        <label for="shippingMethodId">Shipping Method:</label>
        <select id="shippingMethodId" class="form-control" name="shippingMethodId">
            <?php foreach($shippingMethods as $shippingMethod):?>
                <option value="<?php echo $shippingMethod->id?>"><?php echo $shippingMethod->method; ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>