<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Work Order #</th>
            <td><?php echo $orderHeader->id ?></td>
        </tr>
        <tr>
            <th>Customer Purchase Order #</th>
            <td><?php echo $orderHeader->customerPurchaseOrder ?></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><?php echo $orderHeader->created ?></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <address>
                    <strong><?php echo $orderHeader->locationName ?></strong><br>
                    <?php echo $orderHeader->locationAddress ?><br/>
                    <?php echo $orderHeader->locationAddress2 ?><br/>
                    <?php echo $orderHeader->locationCity ?>, <?php echo $orderHeader->locationState ?> <?php echo $orderHeader->locationPostalCode; ?>
                </address>
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><?php echo $orderHeader->contact ?></td>
        </tr>
    </table>
</div>
<form method="POST" action="/order/createOrder/<?php echo $orderHeader->id; ?>/2" role="form">
    <div class="form-group">
        <label for="partNumberId">Product</label>
        <select class="form-control" id="partNumberId" name="partNumberId">
            <?php foreach($products as $product):?>
                <option value="<?php echo $product->id?>"><?php echo $product->partNumber; ?> - <?php echo $product->description; ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" value="1" id="quantity" name="quantity" class="form-control">
    </div>
    <input type="hidden" value="<?php echo $orderHeader->id; ?>" name="orderId">
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Part Number</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($orderLines as $orderLine): ?>
    <tr>
        <td><?php echo $orderLine->quantity; ?></td>
        <td><?php echo $orderLine->partNumber; ?></td>
        <td><?php echo $orderLine->productDescription; ?></td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>
<a class="btn btn-default" href="/order/createOrder/<?php echo $orderHeader->id; ?>/3" role="button">Step 3 -></a>