<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Work Order #</th>
            <td><?php echo $orderHeader->id ?></td>
        </tr>
        <tr>
            <th>Customer Purchase Order #</th>
            <td><?php echo $orderHeader->customerPurchaseOrder ?></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><?php echo $orderHeader->created ?></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <address>
                    <strong><?php echo $orderHeader->locationName ?></strong><br>
                    <?php echo $orderHeader->locationAddress ?><br/>
                    <?php echo $orderHeader->locationAddress2 ?><br/>
                    <?php echo $orderHeader->locationCity ?>, <?php echo $orderHeader->locationState ?> <?php echo $orderHeader->locationPostalCode; ?>
                </address>
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><?php echo $orderHeader->contact ?></td>
        </tr>
    </table>
</div>
<form method="POST" action="/order/createOrder/<?php echo $orderHeader->id; ?>/3" role="form">
<table class="table">
    <thead>
    <tr>
        <th>Part Number</th>
        <th>Description</th>
        <th>Serial Number</th>
        <th>Problem Reported</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach($orderLines as $orderLine): ?>
        <tr>
            <td><input type="hidden" value="<?php echo $orderLine->id;?>" name="id[]"><?php echo $orderLine->partNumber; ?></td>
            <td><?php echo $orderLine->productDescription; ?></td>
            <td><input type="text" name="serialNumber[]" value="<?php echo $orderLine->serialIn; ?>" class="form-control"></td>
            <td><textarea type="text" name="problemReported[]" class="form-control" rows="3"><?php echo $orderLine->problemReported; ?></textarea></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
    <input type="hidden" value="<?php echo $orderHeader->id; ?>" name="orderId">
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<a class="btn btn-default" href="/order/createOrder/<?php echo $orderHeader->id; ?>/3" role="button">Step 3 -></a>