<?php
// module/Customer/view/customer/location/index.phtml:

$title = 'Locations';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <p>
        <a href="<?php echo $this->url('location', array('action' => 'add', 'customer' => $customer)); ?>">Add new
            location</a>
    </p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($this->paginator as $location) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($location->name); ?></td>
                <td><?php echo $this->escapeHtml($location->address); ?><br/>
                    <?php echo ($location->address2) ? $this->escapeHtml($location->address2) . "<br/>" : ''; ?>
                    <?php echo $this->escapeHtml($location->city); ?>
                    , <?php echo $this->escapeHtml($location->state); ?> <?php echo $this->escapeHtml($location->postalCode); ?>
                </td>
                <td><?php echo $this->escapeHtml($location->phone); ?></td>
                <td><?php echo $this->escapeHtml($location->fax); ?></td>
                <td>
                    <a href="<?php echo $this->url('location',
                        array('action' => 'edit', 'customer' => $location->customerId, 'id' => $location->id));?>">Edit</a>
                    |
                    <a href="<?php echo $this->url('location',
                        array('action' => 'delete', 'customer' => $location->customerId, 'id' => $location->id));?>">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Customer'),
    // the route to link to when a user clicks a control link
    array(
        'route' => 'customer'
    )
);
?>