<?php
// module/Customer/view/customer/customer/index.phtml:

$title = 'Customers';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <p>
        <a href="<?php echo $this->url('customer', array('action' => 'add')); ?>">Add new customer</a>
    </p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($this->paginator as $customer) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($customer->name); ?></td>
                <td><?php echo $this->escapeHtml($customer->address);?><br />
                    <?php echo ($customer->address2) ? $this->escapeHtml($customer->address2) . "<br/>" : '' ;?>
                    <?php echo $this->escapeHtml($customer->city);?>, <?php echo $this->escapeHtml($customer->state);?> <?php echo $this->escapeHtml($customer->postalCode);?>
                </td>
                <td><?php echo $this->escapeHtml($customer->phone);?></td>
                <td><?php echo $this->escapeHtml($customer->fax);?></td>
                <td>
                    <a href="<?php echo $this->url('location',
                        array('action' => 'index', 'customer' => $customer->id));?>">Locations</a> |
                    <a href="<?php echo $this->url('customer',
                        array('action' => 'edit', 'id' => $customer->id));?>">Edit</a> |
                    <a href="<?php echo $this->url('customer',
                        array('action' => 'delete', 'id' => $customer->id));?>">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Customer'),
    // the route to link to when a user clicks a control link
    array(
        'route' => 'customer'
    )
);
?>