<div class="jumbotron">
    <h1>Welcome to Tomact LTD Tracker</h1>
    <p></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Order Status</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/order">View Orders &raquo;</a></p>
            </div>
        </div>
    </div>

    <!--<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="http://modules.zendframework.com/" target="_blank"><?php /*echo $this->translate('Explore ZF2 Modules') */?> &raquo;</a></p>
            </div>
        </div>
    </div>-->

    <!--<div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php /*echo $this->translate('Help &amp; Support') */?></h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="http://webchat.freenode.net?channels=zftalk" target="_blank"><?php /*echo $this->translate('Ping us on IRC') */?> &raquo;</a></p>
            </div>
        </div>
    </div>-->
</div>
