<div class="jumbotron">
    <h1>Available Reports</h1>
    <p></p>
<!--    <p><a class="btn btn-success btn-lg" href="https://github.com/zendframework/zf2" target="_blank">--><?php //echo $this->translate('Fork Zend Framework 2 on GitHub') ?><!-- &raquo;</a></p>-->
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Days In Repair</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/daysInRepair">View Report &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dead On Arrival</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/deadOnArrival">View Report &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">End Of Line</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/endOfLine">View Report &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Missing In Action</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/missingInAction">View Report &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Non-Repairable Item</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/nonRepairableItem">View Report &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">No Trouble Found</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/noTroubleFound">View Report &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Work In Progress</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <p><a class="btn btn-success pull-right" href="/report/workInProgress">View Report &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
    </div>

    <div class="col-md-4">
    </div>
</div>
