<?php
// module/Product/view/product/product/index.phtml:

$title = 'Products';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <p>
        <a href="<?php echo $this->url('product', array('action' => 'add')); ?>">Add new product</a>
    </p>

    <table class="table">
        <tr>
            <th>Part Number</th>
            <th>Alternative Part Number</th>
            <th>Description</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($this->paginator as $product) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($product->partNumber); ?></td>
                <td><?php echo $this->escapeHtml($product->alternativePartNumber); ?></td>
                <td><?php echo $this->escapeHtml($product->description); ?></td>
                <td>
                    <a href="<?php echo $this->url('product',
                        array('action' => 'edit', 'id' => $product->id));?>">Edit</a>
                    <a href="<?php echo $this->url('product',
                        array('action' => 'delete', 'id' => $product->id));?>">Delete</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Product'),
    // the route to link to when a user clicks a control link
    array(
        'route' => 'product'
    )
);
?>