<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Work Order #</th>
            <td><?php echo $orderHeader->id ?></td>
        </tr>
        <tr>
            <th>Customer Purchase Order #</th>
            <td><?php echo $orderHeader->customerPurchaseOrder ?></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><?php echo $orderHeader->created ?></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <?php echo $orderHeader->locationName ?><br/>
                <?php echo $orderHeader->locationAddress ?><br/>
                <?php echo $orderHeader->locationAddress2 ?><br/>
                <?php echo $orderHeader->locationCity ?>, <?php echo $orderHeader->locationState ?> <?php echo $orderHeader->locationPostalCode; ?>
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><?php echo $orderHeader->contact ?></td>
        </tr>
    </table>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="/order/view/<?php echo $orderHeader->id; ?>">Order Lines</a></li>
    <li><a href="/order/notes/<?php echo $orderHeader->id; ?>">Notes</a></li>
</ul>
<?php
$form->setAttribute('action', $this->url('order', array('action' => 'addLines', 'id' => $orderHeader->id)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formCollection($form);
echo $this->form()->closeTag();