<?php
// module/Order/view/order/order/index.phtml:

$title = 'Orders';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <p>
        <a href="<?php echo $this->url('order', array('action' => 'add')); ?>">Create new order</a>
    </p>

    <table class="table">
        <tr>
            <th>Work Order</th>
            <th>Customer PO</th>
            <th>Ship To</th>
            <th>Order Date</th>
            <th>&nbsp;</th>
        </tr>
        <?php foreach ($this->paginator as $order) : ?>
            <tr>
                <td><?php echo $this->escapeHtml($order->id); ?></td>
                <td><?php echo $order->customerPurchaseOrder; ?></td>
                <td><?php echo $this->escapeHtml($order->locationName);?><br />
                    <?php echo $this->escapeHtml($order->locationAddress); ?><br/>
                    <?php echo ($order->locationAddress2) ? $this->escapeHtml($order->locationAddress2) . "<br/>" : ''; ?>
                    <?php echo $this->escapeHtml($order->locationCity); ?>
                    , <?php echo $this->escapeHtml($order->locationState); ?> <?php echo $this->escapeHtml($order->locationPostalCode); ?></td>
                <td><?php echo $order->created; ?></td>
                <td>
                    <a href="<?php echo $this->url('order',
                        array('action' => 'view', 'id' => $order->id));?>">View</a>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
<?php
// add at the end of the file after the table
echo $this->paginationControl(
// the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    array('partial/paginator.phtml', 'Order'),
    // the route to link to when a user clicks a control link
    array(
        'route' => 'order'
    )
);
?>