<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Work Order #</th>
            <td>123</td>
        </tr>
        <tr>
            <th>Customer Purchase Order #</th>
            <td>122</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>12/12/2014</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>Test<br/>123 some street<br/>somewhere,ot 12345</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>test contact</td>
        </tr>
    </table>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li><a href="/order/view/1">Order Lines</a></li>
    <li class="active"><a href="/order/notes/1">Notes</a></li>
</ul>