<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Work Order #</th>
            <td><?php echo $orderHeader->id ?></td>
        </tr>
        <tr>
            <th>Customer Purchase Order #</th>
            <td><?php echo $orderHeader->customerPurchaseOrder ?></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><?php echo $orderHeader->created ?></td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                <address>
                    <strong><?php echo $orderHeader->locationName ?></strong><br>
                    <?php echo $orderHeader->locationAddress ?><br/>
                    <?php echo $orderHeader->locationAddress2 ?><br/>
                    <?php echo $orderHeader->locationCity ?>, <?php echo $orderHeader->locationState ?> <?php echo $orderHeader->locationPostalCode; ?>
                </address>
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><?php echo $orderHeader->contact ?></td>
        </tr>
    </table>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="/order/view/<?php echo $orderHeader->id; ?>">Order Lines</a></li>
<!--    <li><a href="/order/notes/--><?php //echo $orderHeader->id; ?><!--">Notes</a></li>-->
</ul>
<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
        <tr>
            <th></th>
            <th>Line</th>
            <th>Part Number</th>
            <th>Serial</th>
<!--            <th>Serial Out</th>-->
            <th>Problem Reported</th>
            <th>Receive Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($orderLines as $i => $orderLine):?>
            <tr>
                <td><a href="#" class="glyphicon glyphicon-chevron-down"></a></td>
                <td><?php echo $i+1 ?> </td>
                <td><?php echo $orderLine->partNumber; ?></td>
                <td><?php echo $orderLine->serialIn; ?></td>
<!--                <td>--><?php //echo $orderLine->serialOut; ?><!--</td>-->
                <td><?php echo $orderLine->problemReported; ?></td>
                <td><?php echo $orderLine->receivedDate; ?></td>
                <td><?php echo $orderLine->status; ?></td>
                <td>
                    <select class="form-control">
                        <option>Actions</option>
                        <option>Edit Line</option>
                        <option>Change Status</option>
                    </select>
                </td>
            </tr>
            <tr style="display: none">
                <td></td>
                <td colspan="9">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                Problem Found
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->problemFound; ?>
                            </div>
                            <div class="col-md-6">
                                Shipping Method Out
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->shippingMethodOut; ?>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                Work Preformed
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->workPreformed; ?>
                            </div>
                            <div class="col-md-6">
                                Tracking Number Out
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->trackingNumberOut; ?>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                Found DOA
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->foundDoa; ?>
                            </div>
                            <div class="col-md-6">
                                Shipping Method In
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->shippingMethodIn; ?>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                Reported DOA
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->reportedDoa; ?>
                            </div>
                            <div class="col-md-6">
                                Tracking Number In
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->trackingNumberIn; ?>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                NRI
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->nri; ?>
                            </div>
                            <div class="col-md-6">
                                Ship Date
                            </div>
                            <div class="col-md-3">
                                <?php echo $orderLine->shippedDate; ?>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        <?php endforeach;?>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-3 text-center">
        <a href="/order/createOrder/<?php echo $orderHeader->id;?>/2" class="">Add Lines</a>
    </div>
<!--    <div class="col-md-3 text-center">-->
<!--        <a href="">Edit Lines</a>-->
<!--    </div>-->
<!--    <div class="col-md-3 text-center">-->
<!--        <a href="">Ship Order</a>-->
<!--    </div>-->
<!--    <div class="col-md-3 text-center">-->
<!--        <a href="">Work Tickets</a>-->
<!--    </div>-->
</div>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("body").on('click', ".glyphicon-chevron-down", function(){
            $(this).closest('tr').next('tr').show();
            $(this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }).on('click', ".glyphicon-chevron-up", function(){
            $(this).closest('tr').next('tr').hide();
            $(this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        });
    });
</script>
